@import 'tailwindcss';

:root {
  --background: #09090b;
  --accent: #9425ea;
  --accent-dark: #7316bb;
  --text: #fff;
  --secondary-text: #8b8b8b;
  --card: #1a1a1a;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 900;
}
